#container{
    height: 100vh;
    display: flex;
    align-items: center;
}

#biglietto{
    width: 60%;
    margin: auto  auto;
    border: 2px solid black;
    background-color: #ccc;
    position: relative;
    padding: 20px;
}
#row{
    display: flex;
    justify-content: space-between;
}
#sezione_sconti{
    font-style: italic;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.61);   
    padding: 5px;
    box-shadow: 0px 1px 16px 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#minori_sconto{
    color: green;
}
#over_sconto{
    color: red;
}
#trenitalia{
    width: auto;
    height: 100px;
}
#mio_id{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10px;
    font-style: italic;
}
#container_codice_barre{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#codice_barre{
    height: 100px;
    width: auto;
}
